---
import Layout from "../../layouts/Layout.astro";
export const pageTitle = "Project 01 Proposal";
---

<Layout title={pageTitle}>
  <h1>Project Proposal</h1>
<p>I'm not sure...</p>
</Layout>

<style>
  h1 {
    color: hotpink;
  }
</style>
