---
import Layout from "../../layouts/Layout.astro";
export const pageTitle = "Project 01 Proposal";
---

<Layout title={pageTitle}>
  <h1>Project Proposal</h1>
  <p>
    <a 
      href="https://sunynp-my.sharepoint.com/:w:/g/personal/ahns2_newpaltz_edu/EQJCLSP5RUNEmZxHdjpiS-IBXK-dtK7ly6iD9M-tIdrHWg?e=kNcxWK" 
      target="_blank" 
      rel="noopener noreferrer">
      View related document
    </a>
  </p>
</Layout>

<style>
  h1 {
    color: hotpink;
  }
</style>
