---

---

<a class="btn-home" href="">Go home</a>

<style>
    .btn-home{
        display: inline-block;
        text-decoration: none;
        padding: 0.8rem;
        background-color: transparent;
        color: rgb(0, 0, 0);
        border: 2px dotted pink;
        border-radius: 1rem;
    }

    .btn-home:hover{
        background-color: pink;
        color: black;
    }
</style>
