---
const {title} = Astro.props;

---

<div class="frame">
    <h3>(title)</h3>
    <div class=""frame-contents">
    <slot />
    </div>
</div>

<style>
    .frame{
        border: 2px solid pink;
        padding: 5rem;
        max-width:: 400px;
    }

    h3{margin: 0;
        margin-bottom: 1rem;
        background-color: black;
        color: white;
        padding: 25rem;
        position: relative;
        display: inline-black;
    }
</style>